/*
..######...#######..##....##..######..########....###....##....##.########..######.
.##....##.##.....##.###...##.##....##....##......##.##...###...##....##....##....##
.##.......##.....##.####..##.##..........##.....##...##..####..##....##....##......
.##.......##.....##.##.##.##..######.....##....##.....##.##.##.##....##.....######.
.##.......##.....##.##..####.......##....##....#########.##..####....##..........##
.##....##.##.....##.##...###.##....##....##....##.....##.##...###....##....##....##
..######...#######..##....##..######.....##....##.....##.##....##....##.....######.
*/

:root{
  /* colors */
  --header1-bg-color: rgb(30,42,54);
  --header1-text-color: #343837;
  --header-title-color: rgb(0,128,250);
  --white: #ffffff;
  --black: #000000;
  --light-grey: rgb(228, 232, 235);

  /* fonts */
  --body-fonts: 'Nunito'
}

/*
..######...##........#######..########.....###....##...........######...######...######.
.##....##..##.......##.....##.##.....##...##.##...##..........##....##.##....##.##....##
.##........##.......##.....##.##.....##..##...##..##..........##.......##.......##......
.##...####.##.......##.....##.########..##.....##.##..........##........######...######.
.##....##..##.......##.....##.##.....##.#########.##..........##.............##.......##
.##....##..##.......##.....##.##.....##.##.....##.##..........##....##.##....##.##....##
..######...########..#######..########..##.....##.########.....######...######...######.
*/
#__next {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

html{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 5rem 0;
}
h2 {
  min-width: 18rem;
  font-size: 2rem;
  opacity: 0.3;
}

p {
  line-height: 1.65em;
  margin: 0;
  padding: 0;
}

/*
.####.##....##.########..########.##.....##
..##..###...##.##.....##.##........##...##.
..##..####..##.##.....##.##.........##.##..
..##..##.##.##.##.....##.######......###...
..##..##..####.##.....##.##.........##.##..
..##..##...###.##.....##.##........##...##.
.####.##....##.########..########.##.....##
*/

.headerSection{
  background-color: cornflowerblue;
}

[dir="ltr"] .foo {
    animation: 1s slide-ltr 0s ease-in-out
}
 
[dir="rtl"] .foo {
    animation: 1s slide-rtl 0s ease-in-out
}
 
@keyframes slide-ltr {
    from {
        transform: translate( -1000px )
    }
    to {
        transform: translate( 0 )
    }
}
 
@keyframes slide-rtl {
    from {
        transform: translate( 1000px )
    }
    to {
        transform: translate( 0 )
    }
}

/*
.##.....##.########....###....########..########.########.
.##.....##.##.........##.##...##.....##.##.......##.....##
.##.....##.##........##...##..##.....##.##.......##.....##
.#########.######...##.....##.##.....##.######...########.
.##.....##.##.......#########.##.....##.##.......##...##..
.##.....##.##.......##.....##.##.....##.##.......##....##.
.##.....##.########.##.....##.########..########.##.....##
*/
.header-container{
  flex: 1;
}

.spacing{
  padding-right: 300px !important;
  padding-left: 300px !important;
}

#main-header{
  align-items: center;
}

.menu-icon{
  height: 40px;
  width: 30px;
  align-self: center;
  margin: 0 10px
}

#title{
  font-size: xx-large;
  font-family: 'Comfortaa', cursive;
  color: var(--header-title-color);
  margin: 0;
  padding: 0;
}

[dir="ltr"] #sub-title{
  font-size: small;
  margin: 0;
  padding: 0;
  margin-top: -15px;
  margin-left: 3px;
  color: var(--header1-text-color);
  font-family: var(--body-fonts);
}

[dir="rtl"] #sub-title{
  font-size: small;
  margin: 0;
  padding: 0;
  margin-top: -15px;
  text-align: right;
  color: var(--header1-text-color);
  font-family: var(--body-fonts);
}

#search-bar{
  flex: 1;
  margin-left: 50px;
  margin-right: 40px;
  align-self: center;
}

.search-input{
  font-family: var(--body-fonts);
}

.search-button{
  background-color: var(--header-title-color);
}

[dir="ltr"] .login-section{
  border-right: 1px solid var(--header1-text-color);
  align-self: center;
}

[dir="rtl"] .login-section{
  border-left: 1px solid var(--header1-text-color);
    margin-left: 10px;
  align-self: center;
}

[dir="ltr"] .login{
  font-family: var(--body-fonts);
  font-weight: bold;
  margin: 0;
  margin-right: 5px;
}

[dir="rtl"] .login{
  font-family: var(--body-fonts);
  font-weight: bold;
  margin: 0;
  margin-left: 5px;
}

.favourite-deal{
  align-self: center;
  margin-left: 10px;
}

.favourite-img{
  height: 30px;
  width: 30px;
}

.fav-index{
  position: absolute;
  display: inline;
  margin: 0;
  margin-left: -19px;
  text-align: center;
  margin-top: 3px;
  color: var(--white);
}

[dir="ltr"] .favourite-text{
  font-family: var(--body-fonts);
  margin: 0;
  margin-left: 5px;
  align-self: center;
  font-weight: bold;
  border-right: 1px solid var(--header1-text-color);
  padding-right: 10px;
}

[dir="rtl"] .favourite-text{
  font-family: var(--body-fonts);
  margin: 0;
  align-self: center;
  font-weight: bold;
  border-left: 1px solid var(--header1-text-color);
  padding-left: 10px;
  margin-left: 10px;
}

#lng{
  align-self: center;
  padding-left: 10px;
  cursor: pointer;
}

.lng-icon{
  height: 15px;
  width: 17px;
}

[dir="ltr"] .lng-text{
  display: inline;
  font-family: var(--body-fonts);
  margin: 0;
  margin-left: 5px;
  font-weight: bold;
}

[dir="rtl"] .lng-text{
  display: inline;
  font-family: var(--body-fonts);
  margin: 0;
  margin-right: 5px;
  font-weight: bold;
}

#sub-header{
  background-color: var(--light-grey);
  height: auto;
}

#sub-header ul{
  margin: 0;
  padding: 10px;
}

.categories{
  display: inline;
  margin: 0;
  margin-right: 20px;
  font-family: var(--body-fonts);
}

.categories a{
  color: var(--black);
  font-weight: bold;
  align-items: center;
}

.categories a:hover{
  text-decoration-line: none;
  color: var(--header-title-color);
  font-weight: bold;
  align-items: center;
}

/*
.########..#######...#######..########.########.########.
.##.......##.....##.##.....##....##....##.......##.....##
.##.......##.....##.##.....##....##....##.......##.....##
.######...##.....##.##.....##....##....######...########.
.##.......##.....##.##.....##....##....##.......##...##..
.##.......##.....##.##.....##....##....##.......##....##.
.##........#######...#######.....##....########.##.....##
*/

.first-footer{
  background-color: var(--light-grey);
  padding-top: 30px;
}

.column{
margin-bottom: 40px;
}


[dir="ltr"] .col-title{
  font-family: var(--body-fonts);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  
}

[dir="rtl"] .col-title{
  font-family: var(--body-fonts);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-align: right;
  
}

.col-semi-title{
  margin-top: 30px;
}

[dir="ltr"] .col-items{
  font-family: var(--body-fonts);
  font-size: 14px;
  margin: 0;
}

[dir="rtl"] .col-items{
  font-family: var(--body-fonts);
  font-size: 14px;
  margin: 0;
  text-align: right;
}

.logo-col{
  margin-bottom: 20px;
}

[dir="ltr"] .logo-col p{
  text-align: start;
}

[dir="rtl"] .logo-col p{
  text-align: right;
}

[dir="ltr"] .col-items-service{
  font-family: var(--body-fonts);
  font-size: 14px;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  color: var(--black);
}

[dir="rtl"] .col-items-service{
  font-family: var(--body-fonts);
  font-size: 14px;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  color: var(--black);
  text-align: right;
}

.col-items-service :hover{
  text-decoration-line: none;
  color: var(--header-title-color);
}

.help-container{
  background-color: var(--white);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 1px 2px var(--header1-text-color);
  cursor: pointer;
  margin-bottom: 30px;
}

[dir="ltr"] .help-title{
  font-family: var(--body-fonts);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  justify-content: space-between;
}

[dir="rtl"] .help-title{
  font-family: var(--body-fonts);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  justify-content: space-between;
  text-align: right;
}

[dir="ltr"] .help-icon{
  height: 20px;
  width: 20px;
  position: absolute;
  right: 30px;
}

[dir="rtl"] .help-icon{
  height: 20px;
  width: 20px;
  position: absolute;
  left: 30px;
}

[dir="ltr"] .help-subtitle{
  font-family: var(--body-fonts);
  font-size: 13px;
  margin: 0;
  color: var(--header1-text-color);
}

[dir="rtl"] .help-subtitle{
  font-family: var(--body-fonts);
  font-size: 13px;
  margin: 0;
  color: var(--header1-text-color);
  text-align: right;
}

[dir="ltr"] .social-logoes{
  display: inline;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

[dir="rtl"] .social-logoes{
  display: inline;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
}

.second-footer{
  background-color:var(--header1-text-color);
  padding: 10px;
}

.copyright{
  color: var(--white);
  font-family: var(--body-fonts);
  font-weight: 600;
  margin: 0;
  text-align: center;
}
